<h1>{{Openning}}</h1>
<h2>{{Type}}</h2>
<h2>{{Urls}}</h2>
<div class="coinmarketcap-currency-widget" data-currency="ethereum" data-base="USD"  data-secondary="BTC"></div>
<!--<app-users-search-chart></app-users-search-chart>-->
<app-ether-price-chart></app-ether-price-chart>

<!--
<div class="coinmarketcap-currency-widget" data-currencyid="2" data-base="USD" data-secondary="" data-ticker="true" data-rank="true" data-marketcap="true" data-volume="true" data-stats="USD" data-statsticker="false">
</div>

<script type="text/javascript" src="https://files.coinmarketcap.com/static/widget/currency.js">
</script>
-->

