

.sidebar-nav-fixed {
  width:14%;
}


.col-md-6 {
  width: 80%;
}
.container .jumbotron {
  padding-right: 60px;
  padding-left: 60px;
  margin-left: 20%;

}
.col-md-6[_ngcontent-c4] {
  width: 100%;
}

p {
  font-family: myFont;
}

@font-face {
  font-family: myFont;
  src: url('../../../assets/font/Sansation_Light.ttf') format('truetype')
}
