
<div class="row">
  <div class="col-md-6">
    <div style="display: block;">
      <canvas baseChart width="400" height="400"
              [datasets]="lineChartData"
              [labels]="lineChartLabels"
              [options]="lineChartOptions"
              [colors]="lineChartColors"
              [legend]="lineChartLegend"
              [chartType]="lineChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
    </div>







  </div>
  <!--<div class="col-md-6" style="margin-bottom: 10px">-->
    <!--<table class="table table-responsive table-condensed">-->
      <!--<tr>-->
        <!--<th *ngFor="let label of lineChartLabels">{{label}}</th>-->
      <!--</tr>-->
      <!--<tr *ngFor="let d of lineChartData">-->
        <!--<td *ngFor="let label of lineChartLabels; let j=index">{{d && d.data[j]}}</td>-->
      <!--</tr>-->
    <!--</table>-->
    <!--<button (click)="randomize()">CLICK</button>-->
  <!--</div>-->
<div hidden>
   <div class="coinmarketcap-currency-widget" data-currencyid="1027" data-base="USD" data-secondary="USD" data-ticker="true" data-rank="true" data-marketcap="true" data-volume="true" data-stats="USD" data-statsticker="true"></div>

    <div _ngcontent-c5="" class="coinmarketcap-currency-widget" data-base="USD" data-currencyid="1027" data-marketcap="true" data-rank="true" data-secondary="USD" data-stats="USD" data-statsticker="true" data-ticker="true" data-volume="true">
      <div style="border:2px solid #E4E6EB;border-radius: 10px;font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;min-width:285px;"></div>
    </div>
    <!--<div class="col-md-6" style="margin-bottom: 10px">-->
    <!--<div>-->
      <!--<div style="float:right;width:67%;border: 0px solid #000;text-align:left;padding:5px 0px;line-height:25px;">-->
        <!--<span style="font-size: 18px;"><a href="http://coinmarketcap.com/currencies/undefined/?utm_medium=widget&amp;utm_campaign=cmcwidget&amp;utm_source=localhost&amp;utm_content=undefined" target="_blank" style="text-decoration: none; color: rgb(66, 139, 202);">Ethereum (ETH)</a></span> <br>-->
        <!--<span style="font-size: 16px;">{{ether_price}} USD <span style="color:#050202"> {{ether_percent}}%</span></span>            <br>-->
        <!--<span style="font-size: 12px; color:gray">{{ether_price}} USD </span>-->
      <!--</div>-->
      <!--<div style="text-align:center;padding:5px 0px;width:33%;">-->
        <!--<img src="https://files.coinmarketcap.com/static/img/coins/64x64/1027.png"></div>-->
    <!--</div><div style="border-top: 1px solid #E4E6EB;clear:both;">-->
    <!--<div style="text-align:center;float:left;width:33%;font-size:12px;padding:12px 0;border-right:1px solid #E4E6EB;line-height:1.25em;">-->
      <!--RANK-->
      <!--<br>-->
      <!--<br>-->
      <!--<span style="font-size: 17px; ">2</span>-->
    <!--</div>-->

    <!--<div style="text-align:center;float:left;width:33%;font-size:12px;padding:12px 0 16px 0;border-right:1px solid #E4E6EB;line-height:1.25em;">-->
      <!--MARKET CAP-->
      <!--<br><br>-->
      <!--<span style="font-size: 14px; ">$83.09 B <span style="font-size:9px">USD</span>-->
      <!--</span>-->
    <!--</div>-->
    <!--<div style="text-align:center;float:left;width:33%;font-size:12px;padding:12px 0 16px 0;line-height:1.25em;">-->
      <!--VOLUME (24H)-->
      <!--<br><br>-->
      <!--<span style="font-size: 14px; ">$1.65 B <span style="font-size:9px">USD</span>-->
    <!--</span>-->
    <!--</div></div>-->
    <!--<div style="border-top: 1px solid #E4E6EB;text-align:center;clear:both;font-size:10px;font-style:italic;padding:5px 0;">-->
    <!--</div>-->

  </div>
</div>
