

<header class="header">
<app-canvas-logo></app-canvas-logo>
<app-navbar></app-navbar>
</header>
<div class="coinmarketcap-currency-widget" data-currencyid="1" data-base="USD" data-secondary="" data-ticker="true" data-rank="true" data-marketcap="true" data-volume="true" data-stats="USD" data-statsticker="false">
</div>

<script type="text/javascript" src="https://files.coinmarketcap.com/static/widget/currency.js">
</script>
<div class="m-t-1">
<!--<app-home></app-home>-->
  <router-outlet></router-outlet>
</div>
<!--<app-d3graph></app-d3graph>-->
<!--<app-miner-map></app-miner-map>-->

<!--<app-entities></app-entities>-->


<!--<app-entities></app-entities>-->
<!--<app-d3-force-graph></app-d3-force-graph>-->

<app-footer></app-footer>
